@import "tailwindcss";

input{
    background-color: black;
    color:rgb(255, 174, 0);
    margin:2px;
    padding: 4px;
    border-radius: 3px;
}
button{
     background-color: rgb(255, 174, 0);
    color:rgb(0, 0, 0);
    margin:2px;
    padding: 4px;
    min-width: 100px;
    border-radius: 3px;
    transition: all;
    box-shadow: 0.5px 0.5px 0.5px 1.5px rgb(42, 42, 42);
    transition-duration: 0.2s;
}
button:active{
    box-shadow: 0.5px 0.5px 0.5px .5px black;

}